<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL is Incorrect</title>
    <style>
      body {
        color: #fff;
      }
      .container {
        background: #26695a;
        padding: 2rem;
        width: 100%;
        min-height: 100%;
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 style="color: #fff">Email Verify URL is Incorrect</h1>
      <p style="color: #fff">
        Please ,ake sure you didn't changed any thing in URL
      </p>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
